<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="3; url=/" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<script src="https://kraaden.github.io/autocomplete/autocomplete.js"></script>

	<script src="public/library.js"></script>

	<link rel="stylesheet" type="text/css" href="public/trenode.css" />
	<link rel="shortcut icon" href="public/favicon.png" type="image/x-icon">
	<link rel="icon" href="public/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="public/apple-touch-icon.png">
	<title>Trenode.js</title>

	<link rel="manifest" href="public/manifest.json" />
</head>

<body>
	<div class="navbar text-center primary-bg">
		<h1> <a href="/">Trenode.js</a> </h1>
		<p class="subtitle">Sicuramente meglio di Trenitalia!</p>
	</div>
	<div class="container">
		<div class="col-sm-12">
			<h1 class="text-center">C'è stato un errore, verrai riportato alla pagina di ricerca
				<br>
				<i class='fa fa-circle-o-notch fa-spin'></i>
			</h1>
		</div>
	</div>
	<footer class='footer'>
		Open source project available on <b><a href="https://github.com/fratorgano/Trenode.js"
				target="_blank">GitHub</a></b> <br>
		Made by <b><a href="https://fratorgano.me" target="_blank">Francesco Torgano</a></b> © <span id="year"></span>
	</footer>
	<script>
		setYearToElementTextContent('year');
	</script>
</body>

</html>