<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public/trenode.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://kraaden.github.io/autocomplete/autocomplete.js"></script>
	<link rel="shortcut icon" href="public/favicon.png" type="image/x-icon">
	<link rel="icon" href="public/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="public/apple-touch-icon.png">
	<title>Trenode.js</title>
</head>

<body>
	<div class="navbar text-center primary-bg">
		<h1> <a href="/">Trenode.js</a> </h1> 
		<p class="subtitle">Sicuramente meglio di Trenitalia!</p>
	</div>
	<div class="container">
		<div class="col-md-12 text-center"><h2>Dicci solo...</h2></div>
		<div class="form-group">
			<form action="/soluzioni" method="POST">
				<div class="col-md-12"><h2>...dove?</h2></div>
				<div class="col-md-5">
					<div class="form-group">
						<label>Partenza</label>
						<input class="form-control input-secondary" required autocomplete="off" id="partenza" name="partenza"
						type="text" value="Novara (S00248)" onfocus="this.select();" onmouseup="return false;" />
						<input type="hidden" name="cod_partenza" id="cod_partenza" value="S00248" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Scambia</label>
						<button type="button" class="btn btn-secondary" id="swap" onclick="swapValues()">
							<span class="fa fa-refresh"></span>
						</button>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label>Arrivo</label>
						<input class="form-control input-secondary" required autocomplete="off" id="arrivo" name="arrivo" type="text"
						value="Milano Centrale (S01700)" onfocus="this.select();" onmouseup="return false;" />
						<input type="hidden" name="cod_arrivo" id="cod_arrivo" value="S01700" />
					</div>
				</div>
				
				<div class="col-md-12"><h2>...quando?</h2></div>
				<div class="col-md-6">
					<div class="form-group input-group-lg">
						<label>Data</label>
						<input class="form-control input-secondary firefox-fix" id="data" autocomplete="off" name="data"
						type="date" required/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group input-group-lg">
						<label>Ora</label>
						<input class="form-control input-secondary firefox-fix" id="ora" name="ora" type="time" required />
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<button type="submit" class="btn btn-lg btn-primary" id="load"
						data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Ricerca in corso">Cerca</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
		$('#load').on('click', function () {
			var spin_button = $(this);
			spin_button.button('loading');
			setTimeout(function () {
				spin_button.button('reset');
			}, 1000);
		});
	</script>
	<script>
		function swapValues() {
			var tmp = document.getElementById("partenza").value;
			document.getElementById("partenza").value = document.getElementById("arrivo").value;
			document.getElementById("arrivo").value = tmp;
			tmp = document.getElementById("cod_partenza").value;
			document.getElementById("cod_partenza").value = document.getElementById("cod_arrivo").value;
			document.getElementById("cod_arrivo").value = tmp;
		}
	</script>
	<script>
		var today = new Date();
		var date = today.toISOString().substr(0, 10);
		if (today.getMinutes() < 10) {
			var time = today.getHours() + ':0' + today.getMinutes();
		} else {
			var time = today.getHours() + ':' + today.getMinutes();
		}
		console.log(time);
		document.querySelector("#data").value = date;
		document.querySelector("#ora").value = time;
	</script>
	<script>
		$.getJSON('/public/stazioni.json', function(stazioni) {
			var txt_partenza = document.querySelector("#partenza");
			var cod_partenza = document.querySelector("#cod_partenza");
			var txt_arrivo = document.querySelector("#arrivo");
			var cod_arrivo = document.querySelector("#cod_arrivo");
			autocomplete({
				input: txt_partenza,
				minLenght: 1,
				emptyMsg: "Nessuna stazione trovata",
				fetch: function (text, update) {
					text = text.toLowerCase();
					var suggestions = stazioni.filter(n => n.label.toLowerCase().includes(text))
					update(suggestions);
				},
				onSelect: function (item) {
					txt_partenza.value = item.label.toLowerCase().replace(/\b./g, function(m){ return m.toUpperCase(); }) + ' (' + item.value + ')';
					cod_partenza.value = item.value;
				}
			});
			autocomplete({
				input: txt_arrivo,
				minLenght: 1,
				emptyMsg: "Nessuna stazione trovata",
				fetch: function (text, update) {
					text = text.toLowerCase();
					var suggestions = stazioni.filter(n => n.label.toLowerCase().includes(text))
					update(suggestions);
				},
				onSelect: function (item) {
					txt_arrivo.value = item.label.toLowerCase().replace(/\b./g, function(m){ return m.toUpperCase(); }) + ' (' + item.value + ')';
					cod_arrivo.value = item.value;
				}
			});
		});
		
	</script>
</body>
</html>