body, html, p, input {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
}
html{
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
h1, h2, h3 {
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
}
a {
    color: white;
    text-decoration: none; /* no underline */
}
.col-sm-6 a, .col-sm-6 a:hover{
    color: black;
}
.table-responsive{
    border: 0px !important;
}
.back{
    color: #333333; 
}
.mb{
    margin-bottom: 2%;
}
a:hover{
    color: white;
    text-decoration: none; /* no underline */
}
.form-control {
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border-radius: 0px !important;
}
.form-control.firefox-fix {
    line-height: 20px !important;
}
.input-secondary {
    background-color: #c9e9ff;
}
.primary-bg {
    background-color: #4db8ff;
    color: #fff;
}
.btn-primary, .btn-primary:focus  {
    background-color: #4db8ff;
    border: 0px solid #c9e9ff !important;
    color: #fff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active  {
    background-color: #c9e9ff !important;
}
.navbar {
    border-radius: 0px !important;
}
.navbar > .subtitle {
    margin-bottom: 20px;
}
.btn {
    border: 0px solid #d6d3cd;
    border-radius: 0px !important;
    width: 100%;
}
.btn-train-follow {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.container {
    padding-bottom: 5%;
}
.footer {
    position: absolute;
    text-align: right;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    padding-right: 2%;
  }
.footer a{
    color:inherit;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: black;
}
  
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.table.tabellone > tbody > tr > td, .table.tabellone > thead > tr > th {
  /*max-width: 0px !important;*/
  white-space: normal !important;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 2px;
  }
  .col-md-12 {
    padding: 0px;
  }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #292929;
        color: white;
    }
    input{
        color: #d6d3cd;
    }
    small{
        color: white !important;
    }
    .back{
        color: white;
    }
    .primary-bg{
        background-color: #005f9e;
    }
    .btn{
        background-color: #292929;
        border: 1px solid #005f9e
    }
    .input-secondary {
        color: #d6d3cd;
        background-color: #1b3b51;
    }
    .btn.focus, .btn:focus, .btn:hover {
        color: white;
    }
    .btn-primary{
        background-color: #005f9e;
    }
    .btn-primary:hover, .btn-primary:active, .btn-primary.active  {
        background-color: #083655 !important;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 1px solid #6262626b;
    }
    .col-sm-6 a, .col-sm-6 a:hover{
        color: white;
    }
    .blink_me {
        color: white;
    }
}